.side-bar .add-news {
    color: #ababab;
}

.side-bar .up-news {
    color: #ababab;
}

.side-bar .update-news2 {
    color: black;
}

.delete-btn {
    width: 30px;
    display: block;
    margin-left: -6px;
}